*.suo
Duality/Duality.xml
Duality/bin/
Duality/obj/
DualityEditor/DualityEditor.xml
DualityEditor/bin/
DualityEditor/obj/
DualityEditorPlugins/DynamicLighting/obj/
DualityEditorPlugins/EditorBase/bin/
DualityEditorPlugins/EditorBase/obj/
DualityEditorPlugins/HelpAdvisor/bin/
DualityEditorPlugins/HelpAdvisor/obj/
DualityEditorPlugins/ResourceHacker/bin/
DualityEditorPlugins/ResourceHacker/obj/
DualityLauncher/bin/
DualityLauncher/obj/
DualityPlugins/DynamicLighting/obj/
VisualStudio/DualityDebugging/bin/
VisualStudio/DualityDebugging/obj/
VisualStudio/DualityDebuggingTest/bin/
VisualStudio/DualityDebuggingTest/obj/
DualityEditorPlugins/DynamicLighting/bin/
DualityPlugins/DynamicLighting/bin/
Documentation/Help/LastBuild.log
Other/NightlyBuild/NightlyBuilder.vshost.exe.manifest
Other/NightlyBuild/NightlyBuilder.vshost.exe
Other/NightlyBuild/NightlyBuilder.pdb
Other/NightlyBuild/Package/
Other/Tools/NightlyBuilder/obj/
Other/Dependencies/Farseer/FarseerOpenTK/obj/
Other/Dependencies/OpenTK/Source/GLControl/obj/
Other/Dependencies/OpenTK/Source/OpenTK/obj/
Other/Dependencies/bin/
Other/Dependencies/netrtfwriter/RtfWriter/obj/
Other/Dependencies/propertygrid/CustomPropertyGrid/obj/
Other/Dependencies/propertygrid/TestApp/TestApp/bin/
Other/Dependencies/propertygrid/TestApp/TestApp/obj/
Other/Dependencies/treeviewadv/Aga.Controls/obj/
Other/Dependencies/treeviewadv/TestApp/bin/
Other/Dependencies/treeviewadv/TestApp/obj/
Duality/Duality.csproj.user
DualityPlugins/DynamicLighting/DynamicLighting.core.xml
Documentation/Documentation.shfbproj_Fedja Adam
DualityPlugins/ResourceVersionCompatibility/bin/
DualityPlugins/ResourceVersionCompatibility/obj/
Other/Dependencies/WinFormsUI/Source/obj/
Other/Dependencies/WinFormsUI/Source/bin/
Other/Dependencies/WinFormsUI/Source/Docking/Resources/Thumbs.db
UnitTesting/DualityTests/bin/
UnitTesting/DualityTests/obj/
UnitTesting/TestResult.xml
UnitTesting/Duality.VisualState.xml
UnitTesting/DualityTests/DualityTests.csproj.user
DualityPlugins/Navigation/bin/
DualityPlugins/Navigation/obj/
DualityPlugins/NavigationTestbed/Backup/
DualityPlugins/NavigationTestbed/Source/Code/CorePlugin/bin/
DualityPlugins/NavigationTestbed/Source/Code/CorePlugin/obj/
logfile_editor.txt
perflog_editor.txt
editoruserdata.xml
DualityPlugins/NavigationTestbed/designtimedata.dat
DualityPlugins/NavigationTestbed/defaultuserdata.dat
DualityPlugins/NavigationTestbed/appdata.dat
DualityEditor/DualityEditor.csproj.user
DualityPlugins/Steering/Testbed/Backup/
DualityPlugins/Steering/Testbed/Plugins/
DualityPlugins/Steering/Testbed/Source/Code/CorePlugin/CorePlugin.csproj.user
DualityPlugins/Steering/Testbed/Source/Code/CorePlugin/obj/
DualityPlugins/Steering/Testbed/Source/Code/CorePlugin/bin/
DualityPlugins/Steering/bin/
DualityPlugins/Steering/Testbed/Source/Code/DualityLauncher/bin/
DualityPlugins/Steering/Testbed/Source/Code/DualityEditor/bin/
DualityPlugins/Steering/obj/
DualityPlugins/Steering/Testbed/appdata.dat
DualityPlugins/Steering/Testbed/designtimedata.dat
DualityPlugins/Steering/Testbed/Source/Code/CorePlugin/Properties/GameRes.cs
DualityPlugins/Steering/Testbed/Source/Code/EditorPlugin/EditorPlugin.csproj.user
DualityEditorPlugins/LogView/bin/
DualityEditorPlugins/LogView/obj/
DualityEditorPlugins/ObjectInspector/bin/
DualityEditorPlugins/ObjectInspector/obj/
DualityEditorPlugins/LogView/LogView.csproj.user
DualityEditorPlugins/ProjectView/bin/
DualityEditorPlugins/ProjectView/obj/
DualityEditorPlugins/ObjectInspector/ObjectInspector.csproj.user
DualityEditorPlugins/SceneView/bin/
DualityEditorPlugins/SceneView/obj/
DualityEditorPlugins/ProjectView/ProjectView.csproj.user
DualityEditorPlugins/SceneView/SceneView.csproj.user
DualityEditorPlugins/CamView/bin/
DualityEditorPlugins/CamView/obj/
DualityPlugins/Compatibility/bin/
DualityPlugins/Compatibility/obj/
DualityPlugins/Steering/Steering.core.xml
Other/Dependencies/SolutionPostBuild/bin/
Other/Dependencies/SolutionPostBuild/obj/
Other/Dependencies/Dependencies.sdf
Other/Dependencies/Dependencies.opensdf
Other/Dependencies/PropertyGrid/CustomPropertyGrid/CustomPropertyGrid.xml
Other/Dependencies/AdamsLair.PropertyGrid/PropertyGrid/obj/
Other/Dependencies/AdamsLair.PropertyGrid/TestApp/TestApp/bin/
Other/Dependencies/AdamsLair.PropertyGrid/TestApp/TestApp/obj/
Other/Dependencies/AdamsLair.PropertyGrid/PropertyGrid/AdamsLair.PropertyGrid.xml
DualityPlugins/Steering/Testbed/defaultuserdata.dat
Documentation/Help/DDoc.chm
packages/
DualityUpdater/bin/
DualityUpdater/obj/
Other/NightlyBuild/NuGetPackages/
DualityEditorPlugins/PackageManagerFrontend/bin/
DualityEditorPlugins/PackageManagerFrontend/obj/
DualityEditorPlugins/PackageManagerFrontend/PackageManagerFrontend.csproj.user
DualityPlugins/Steering/Sample/bin/
DualityPlugins/Steering/Sample/obj/
DualityPlugins/Steering/Sample/Testbed/AppData.dat
DualityPlugins/Steering/Sample/SteeringTestbed.core.xml
Plugins/
DualityPlugins/Steering/Sample/Testbed/DefaultUserData.dat
DualityPlugins/Steering/Sample/Testbed/DesignTimeData.dat
DualityPlugins/Steering/Sample/Testbed/Data/WorkingFolderIcon.ico
DualityPlugins/Steering/Sample/Testbed/PackageConfig.xml
DualityPlugins/Steering/Sample/Testbed/Source/
DualityPlugins/DynamicLighting/Sample/bin/
DualityPlugins/DynamicLighting/Sample/Testbed/Source/
DualityPlugins/DynamicLighting/Sample/Testbed/Data/WorkingFolderIcon.ico
DualityPlugins/DynamicLighting/Sample/Testbed/DefaultUserData.dat
DualityPlugins/DynamicLighting/Sample/obj/
DualityPlugins/DynamicLighting/Sample/Testbed/Backup/
DualityPlugins/DynamicLighting/Sample/Testbed/AppData.dat
DualityPlugins/DynamicLighting/Sample/DynamicLighting.Sample.core.xml
DualityPlugins/DynamicLighting/Sample/Testbed/PackageConfig.xml
DualityPlugins/DynamicLighting/Sample/Testbed/DesignTimeData.dat
SampleProjects/DualStickSpaceShooter/Content/Data/WorkingFolderIcon.ico
SampleProjects/DualStickSpaceShooter/Content/Data/desktop.ini
SampleProjects/DualStickSpaceShooter/Content/DesignTimeData.dat
SampleProjects/DualStickSpaceShooter/Content/PackageConfig.xml
SampleProjects/DualStickSpaceShooter/Content/Source/
SampleProjects/DualStickSpaceShooter/DualStickSpaceShooter.core.xml
SampleProjects/DualStickSpaceShooter/bin/
SampleProjects/DualStickSpaceShooter/obj/
SampleProjects/DualStickSpaceShooter/Content/Backup/
SampleProjects/DualStickSpaceShooter/Content/logfile.txt
SampleProjects/DualStickSpaceShooter/Content/perflog.txt
SampleProjects/DualStickSpaceShooter/Content/UserData.dat
DualityEditorPlugins/CamView/CamView.csproj.user
DualityPlugins/Steering/Sample/Testbed/Backup/
Other/NightlyBuild/NightlyBuilder.exe.config
Other/NightlyBuild/NightlyBuilder.vshost.exe.config
DualityPrimitives/bin/
DualityPrimitives/obj/
Backend/DefaultOpenTK/bin/
Backend/DefaultOpenTK/obj/
DualityLauncher/DualityLauncher.csproj.user
Backend/DefaultOpenTKEditor/obj/
Backend/DefaultOpenTKEditor/bin/
Duality/Duality_PCL_WiP.csproj.user
Backend/DotNetFramework/bin/
Backend/DotNetFramework/obj/
DualityEditorPlugins/PackageManagerFrontend/PackageManagerFrontend.Editor.csproj.user
DualityEditorPlugins/EditorBase/EditorBase.Editor.csproj.user
DualityPlugins/Steering/Steering.Core.csproj.user
SampleProjects/CameraController/obj/
SampleProjects/CameraController/Content/Backup/
SampleProjects/CameraController/bin/
SampleProjects/CameraController/Content/Source/
SampleProjects/CameraController/Content/logfile.txt
SampleProjects/CameraController/Content/perflog.txt
SampleProjects/CameraController/Content/PackageConfig.xml
SampleProjects/CameraController/Content/DesignTimeData.dat
