*.suo
*.shfbproj_*
*.csproj.user
*.vshost.*
obj/
bin/
Backup/
packages/
*/Thumbs.db
*/logfile.txt
*/perflog.txt
*/logfile_editor.txt
*/logfile_editor_prev.txt
*/perflog_editor.txt
*/editoruserdata.xml
*/UserData.dat
*/AppData.dat
*/DefaultUserData.dat
*/DesignTimeData.dat
*/Data/desktop.ini
*/Data/WorkingFolderIcon.ico

!Build/Scripts/bin/

Source/Core/Duality/Duality.xml
Source/Editor/DualityEditor/DualityEditor.xml
Source/Plugins/DynamicLighting/Core/DynamicLighting.core.xml
Source/Plugins/DynamicLighting/Sample/DynamicLighting.Sample.core.xml
Source/Plugins/DynamicLighting/Sample/Testbed/Plugins/DynamicLighting.Sample.core.dll
Source/Plugins/DynamicLighting/Sample/Testbed/Plugins/DynamicLighting.Sample.core.xml
Source/Plugins/Steering/Core/Steering.core.xml
Source/Plugins/Steering/Sample/Testbed/Plugins/Steering.Sample.core.dll
Source/Plugins/Steering/Sample/Testbed/Plugins/Steering.Sample.core.xml
Source/Plugins/Tilemaps/Core/Tilemaps.core.xml
Source/Plugins/Tilemaps/Sample/Testbed/Plugins/Tilemaps.Sample.core.dll
Source/Plugins/Tilemaps/Sample/Testbed/Plugins/Tilemaps.Sample.core.xml
Source/Plugins/Tilemaps/Sample/Tilemaps.Sample.core.xml
Samples/AudioHandling/AudioHandling.core.xml
Samples/AudioHandling/Content/Plugins/AudioHandling.core.dll
Samples/AudioHandling/Content/Plugins/AudioHandling.core.xml
Samples/BasicMenu/Content/Plugins/BasicMenu.core.dll
Samples/BasicMenu/Content/Plugins/BasicMenu.core.xml
Samples/BasicShaders/BasicShaders.core.xml
Samples/BasicShaders/Content/Plugins/BasicShaders.core.dll
Samples/BasicShaders/Content/Plugins/BasicShaders.core.xml
Samples/CameraController/Content/Plugins/CameraController.core.dll
Samples/CameraController/Content/Plugins/CameraController.core.xml
Samples/DualStickSpaceShooter/Content/Plugins/DualStickSpaceShooter.core.dll
Samples/DualStickSpaceShooter/Content/Plugins/DualStickSpaceShooter.core.xml
Samples/DualStickSpaceShooter/DualStickSpaceShooter.core.xml
Samples/FlapOrDie/Content/Plugins/FlapOrDie.core.dll
Samples/FlapOrDie/Content/Plugins/FlapOrDie.core.xml
Samples/InputHandling/Content/Plugins/InputHandling.core.dll
Samples/InputHandling/Content/Plugins/InputHandling.core.xml
Samples/InputHandling/InputHandling.core.xml
Samples/ParticleSystem/Content/Plugins/ParticleSystem.core.dll
Samples/ParticleSystem/Content/Plugins/ParticleSystem.core.xml
Samples/ParticleSystem/ParticleSystem.core.xml
