[submodule "Other/Dependencies/DockPanelSuite"]
	path = Other/Dependencies/DockPanelSuite
	url = https://github.com/AdamsLair/dockpanelsuite.git
[submodule "Other/Dependencies/OpenTK"]
	path = Other/Dependencies/OpenTK
	url = https://github.com/AdamsLair/opentk.git
[submodule "Other/Dependencies/NVorbis"]
	path = Other/Dependencies/NVorbis
	url = https://github.com/AdamsLair/nvorbis.git
[submodule "Other/Dependencies/TreeViewAdv"]
	path = Other/Dependencies/TreeViewAdv
	url = https://github.com/AdamsLair/treeviewadv.git
