version: AppVeyor {branch} Build {build}

branches:
  except:
    - gh-pages
    
# fetch repository as zip archive
shallow_clone: true
    
# Do not build on tags (GitHub only)
skip_tags: true

platform: Any CPU
configuration: Release

build:
  project: Duality.sln
  verbosity: minimal
  
test:
  assemblies:
    - 'UnitTesting\DualityTests\**\*.dll'
  categories:
    except:
      - Rendering   # AppVeyor VMs don't have GPU access.
  
#
# The following lines trigger a complete NuGet Package and Binary Release build.
# They do not attempt to deploy them - it's just a build, made available through artifacts.
#
# In order to do a manual build on your local machine, use the "Package Binary NoDocs.bat" script,
# or, if you have SandCastle HelpFile Builder installed, use the "Package Binary.bat" script.
# You will find the build results in the below artifact paths.
#
  
after_test: '"Other\Scripts\Package Binary CI Script.bat"'

artifacts:
  - path: 'Other\NightlyBuild\Package\Duality.zip'
    name: "Binary Release"
#  - path: 'Other\NightlyBuild\NuGetPackages'
#    name: "All NuGet Packages"
  - path: 'Other\NightlyBuild\NuGetPackages\*.nupkg'
    name: "NuGet Packages"
