
/******************************* Global Style Settings *******************************/

body {
	font-family: Calibri, Verdana, Helvetica, Arial, sans-serif;
	color: #000000;
	background-color: #e4e4e4; 
	margin: 0;
	padding: 0;
}

ht {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

*::selection {
	background-color: #f9b83f;
	color: black;
}

div.documentContent {
	margin-left: auto;
	margin-right: auto;
	max-width: 600pt;
	padding: 0 7% 0 7%;
}

/******************************* Header Area *******************************/

header {
	display: block;
	color: #ffffff;
	background-color: #2d2d2d;
	font-size: 1.1em;
}

header div#navContainer {
	display: table;
	width: 100%;
}

/* Social Media Bar */

header div#social {
	display: table-cell;
	vertical-align: bottom;
}

header a.socialButton {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	opacity: 0.5;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 0.25em;
}

header a.socialButton:hover {
	opacity: 1.0;
	background-color: rgba(255,255,255,0.15);
	border: 1px solid rgba(255,255,255,0.3);
}

header a.socialButton#facebook {
	background-image: url('images/facebook.png');
}

header a.socialButton#twitter {
	background-image: url('images/twitter.png');
}

header a.socialButton#googleplus {
	background-image: url('images/googleplus.png');
}

@media only screen and (max-width: 300pt) {
	header div#social {
		display: none;
	}
}

/* Navigation Bar */

header nav {
	display: table-cell;
}

header nav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

header nav > ul > li {
	display: inline-block;
}

header nav > ul > li a {
	display: inline-block;
	padding: 0.1em 0.25em 0.1em 0.25em;
	margin: 0.3em 0.0em 0.3em 0.0em;
	text-decoration: none;
	color: #dddddd;
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 0.25em;
}

header nav > ul > li a:hover {
	color: #ffffff;
	background-color: rgba(255,255,255,0.15);
	border: 1px solid rgba(255,255,255,0.3);
}

header nav {
	text-align: right;
}

/******************************* Main Area *******************************/

main {
	font-size: 1.2em;
	display: block;
	padding-top: 1em;
	padding-bottom: 1em;
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 4pt 0 4pt 0;
}

main section {
	display: block;
	padding-top: 1.25em;
	padding-bottom: 1.5em;
	text-align: justify;
}

main section h2 {
	margin: 0 0 0.5em 0;
	text-shadow: 0.075em 0.075em 0.2em rgba(0, 0, 0, 0.5);
	border-color: #ff9632;
	border-style: solid;
	border-width: 0 0 1.5pt;
}

/* Welcome Section */

main section#welcome  {
	display: table;
}

main section#welcome #logo {
	display: table-cell;
	max-height: 97.5pt;
	margin: 0 2em 0 0;
}

main section#welcome #text {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}

@media only screen and (max-width: 525pt) {
	main section#welcome  {
		display: block;
	}

	main section#welcome #logo {
		display: block;
		max-width: 300pt;
		max-height: 100%;
		width: 100%;
		margin: 0 auto 1em auto;
	}

	main section#welcome #text {
		display: block;
		vertical-align: top;
		text-align: justify;
	}
}

/* Quickstart Section */

main section#quickstart  {
	padding: 0;
	text-align: left;
	padding-bottom: 2.5em;
}

main section#quickstart #buttonContainer {
	padding: 0;
}

main section#quickstart #buttonStrip {
	display: table;
	width: 100%;
}
	
main section#quickstart h2 {
	display: none;
}
	
main section#quickstart h3 {
	text-shadow: none;
	border: none;
	margin: 0;
}

main section#quickstart hr {
	display: table-cell;
	border: none;
	width: 1.5%;
}

main section#quickstart a img {
	display: inline-block;
	margin-right: 0.15%;
	vertical-align: middle;
}

main section#quickstart a div {
	display: inline-block;
	vertical-align: middle;
}

main section#quickstart a {
	display: table-cell;
	padding: 0.5em 0.5em 0.5em 0.5em;
	text-decoration: none;
	opacity: 0.6666;
	color: #000000;
	border: 1px solid rgba(0,0,0,0.1);
	width: 30%;
	box-shadow: 0.15em 0.15em 0.3em rgba(0,0,0,0.07);
}

main section#quickstart a:hover {
	opacity: 1.0;
	color: #000000;
	background-color: rgba(0,0,0,0.15);
	border: 1px solid rgba(0,0,0,0.3);
}

@media only screen and (max-width: 713pt) {
	main section#quickstart p {
		font-size: 0.7em;
	}
}

@media only screen and (max-width: 600pt) {
	main section#quickstart p {
		display: none;
	}
}

@media only screen and (max-width: 525pt) {
	main section#quickstart #buttonArea {
		display: block;
	}

	main section#quickstart p {
		display: inline;
		font-size: 1em;
	}
	
	main section#quickstart hr {
		display: none;
	}
	
	main section#quickstart a {
		display: block;
		width: auto;
	}
	
	main section#quickstart a {
		margin-top: 0.5em;
	}
	
	main section#quickstart a:first-child {
		margin-top: 0.0em;
	}
}

@media only screen and (max-width: 248pt) {
	main section#quickstart p {
		font-size: 0.7em;
	}
}

@media only screen and (max-width: 188pt) {
	main section#quickstart p {
		display: none;
	}
}

/* Features Section */

main section#features {
	display: table;
	width: 100%;
	padding-top: 0;
	padding-bottom: 0;
}

main section#features li {
	margin-top: 0.5em;
}

main section#features li > h3 {
	margin: 0;
	font-size: 1em;
	font-weight: normal;
}

main section#features li > p {
	font-size: 0.9em;
	color: #999999;
}

main section#features > div {
	display: table-cell;
	width: 50%;
	text-align: left;
}

@media only screen and (max-width: 525pt) {
	main section#features {
		display: block;
		width: 100%;
	}
		
	main section#features > div {
		display: block;
		width: 100%;
	}
		
	main section#features > div:first-child {
		padding-bottom: 1.5em;
	}
}

/* Examples Section */

main section#examples ol {
	display: table;
	width: 100%;
	margin: 1em 0 0 0;
	padding: 0;
}

main section#examples ol > li {
	display: table-cell;
	width: 30%;
	padding: 0.75em;
	background: rgba(255, 255, 255, 0.35);
	border: 1px solid rgba(0, 0, 0, 0.1);
}

main section#examples ol > li h3 {
	margin: 0 0 0.5em 0;
	font-size: 1.0em;
}

main section#examples ol > li p {
	margin: 0;
	font-size: 0.9em;
	text-align: left;
}

main section#examples ol > hr {
	display: table-cell;
	border: none;
	width: 1.5%;
}

@media only screen and (max-width: 525pt) {
	main section#examples ol {
		display: block;
	}
	
	main section#examples ol > hr {
		display: none;
	}
	
	main section#examples ol > li {
		display: block;
		width: auto;
		margin-top: 0.5em;
	}
	
	main section#examples ol > li:first-child {
		margin-top: 0.0em;
	}
}

.hljs {
	background-color: rgba(255, 255, 255, 0.35);
	border: 1px solid rgba(0,0,0,0.1);
	font-size: 0.9em;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
}

@media only screen and (max-width: 525pt) {
	.hljs {
		font-size: 0.8em;
	}
}

@media only screen and (max-width: 450pt) {
	.hljs {
		font-size: 0.7em;
	}
}

/* Screenshots Section */

main section#screenshots #imageArea {
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-align: left;
}

main section#screenshots #imageArea a {
	display: inline-block;
	width: 32.7%;
}

main section#screenshots #imageArea img {
	width: 100%;
}

@media only screen and (max-width: 525pt) {
	main section#screenshots #imageArea a {
		display: inline-block;
		width: 49%;
	}
}

@media only screen and (max-width: 375pt) {
	main section#screenshots #imageArea a {
		display: inline-block;
		width: 100%;
	}
}

/******************************* Footer Area *******************************/

footer {
	font-size: 1.0em;
	display: block;
	color: #cccccc;
	background-color: #2d2d2d;
	min-height: 150pt;
}

footer section {
	display: inline-block;
	width: 30%;
	padding-top: 1em;
	padding-bottom: 1em;
	vertical-align: top;
}

footer section h2 {
	font-size: 120%;
	font-weight: normal;
	color: #ffffff;
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}

footer > div.documentContent {
	max-width: 675pt;
	padding-bottom: 1.5em;
}

footer hr {
	display: inline-block;
	border: 0;
	width: 3.3%;
}

footer p {
	margin-bottom: 0.5em;
}

footer a {
	color: #cccccc;
}

footer a:hover {
	color: #ffffff;
}

@media only screen and (max-width: 525pt) {
	footer section {
		display: block;
		width: 100%;
		padding-top: 1em;
		padding-bottom: 1em;
		vertical-align: baseline;
		text-align: justify;
	}
	
	footer hr {
		display: block;
		border: 1px solid rgba(255,255,255,0.1);
		width: 100%;
	}
}

/* Donate Section */

footer section#donate a {
	width: 93.75pt;
	display: inline-block;
}

footer section#donate a img {
	width: 100%;
}