
/* Global Style Settings */

body {
	font-size: 1.1em;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	color: #000000;
	background-color: #e4e4e4; 
	margin: 0;
	padding: 0;
}

*::selection {
	background-color: #f9b83f;
	color: black;
}

/* General Section Settings */

header {
	display: block;
	color: #ffffff;
	background-color: #2d2d2d;
}

main {
	display: block;
	padding-top: 1em;
	padding-bottom: 1em;
}

footer {
	display: block;
	color: #ffffff;
	background-color: #2d2d2d;
	min-height: 200px;
}

div.content {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	padding: 0px 7% 0px 7%;
}

footer > div.content {
	max-width: 900px;
}

main section {
	display: block;
	padding-bottom: 2.75em;
	text-align: justify;
}

footer section {
	display: inline-block;
	width: 30%;
	padding-top: 1em;
	padding-bottom: 1em;
	vertical-align: top;
	text-align: justify;
}

footer hr {
	display: inline-block;
	border: 0;
	width: 3.3%;
}

main section h2 {
	margin: 0;
}

footer section h2 {
	margin: 0;
}

/* Navigation Area */

nav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav > ul > li {
	display: inline-block;
}

nav > ul > li a {
	display: inline-block;
	padding: 0.1em 0.25em 0.1em 0.25em;
	margin: 0.3em 0.0em 0.3em 0.0em;
	text-decoration: none;
	color: #dddddd;
	border: 1px solid rgba(255,255,255,0.1);
}

nav > ul > li a:hover {
	color: #ffffff;
	background-color: rgba(255,255,255,0.15);
	border: 1px solid rgba(255,255,255,0.3);
}

nav {
	text-align: right;
}

/* Welcome Section */

section#welcome  {
	display: table;
}

section#welcome #logo {
	display: table-cell;
	max-height: 130px;
	margin: 0px 2em 0px 0px;
}

section#welcome #text {
	display: table-cell;
	vertical-align: middle;
}

@media only screen and (max-width: 700px) {
	section#welcome  {
		display: block;
	}

	section#welcome #logo {
		display: block;
		max-width: 400px;
		max-height: 100%;
		width: 100%;
		margin: 0px auto 1em auto;
	}

	section#welcome #text {
		display: block;
		vertical-align: top;
	}
}