<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdamsLair.DockPanelSuite" version="2.8.1.0" targetFramework="net45" />
  <package id="AdamsLair.TreeViewAdv" version="1.7.6.0" targetFramework="net45" />
  <package id="AdamsLair.WinForms" version="1.1.1.0" targetFramework="net45" />
  <package id="AdamsLair.WinForms.PopupControl" version="1.0.0.0" targetFramework="net45" />
</packages>