# Build output files
**/bin
**/obj

# Duality specific files
Duality/Temp
Duality/Backup
Duality/UserData.dat
Duality/DesignTimeData.dat
Duality/*.pdb
Duality/*.dll
Duality/*.exe
Duality/*.txt
Duality/*.xml
Duality/Plugins

# Visual studio specific files
Source/.vs
